<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656624817225-rucoo54n83oburum81lmjmar9d4skp7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656624817225-rucoo54n83oburum81lmjmar9d4skp7p</string>
	<key>API_KEY</key>
	<string>AIzaSyBsotF3ta1ERJftnFLMY5NC9fRWZ-EDt9I</string>
	<key>GCM_SENDER_ID</key>
	<string>656624817225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.ardiriz.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-u1</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-u1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656624817225:ios:510d0123f1e079cf1b9b98</string>
</dict>
</plist>